#==============================================================================
# .gitignore - JiggleSoft/atari2600-reference-guide
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# VIM Swap Files.
#------------------------------------------------------------------------------

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]


#------------------------------------------------------------------------------
# Temporary Files.
#------------------------------------------------------------------------------

*.$$$
*.~~~
*.tmp


#------------------------------------------------------------------------------
# Must Include Files.
#------------------------------------------------------------------------------

!*.csv
!*.md
!*.ods
!*.odt
!*.pdf
!*.txt

